{% extends 'base.html' %}

{% block content %}

    <!--<section class="bg-primary">-->
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Bestrid en böter</h1>
  <form action="" method="post" >
    {{ form.hidden_tag() }}
    <p>
      {{ form.violation.label }}<br />
      {{ form.violation(size=32) }}
      {% for error in form.violation.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.place.label }}<br />
      {% for subfield in form.place %}
        <tr>
          <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td>
        </tr>
      {% endfor %}
      {% for error in form.place.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit }}</p>
  </form>

      </div>
        </div>
    </section>
{% endblock %}
