{% extends 'base.html' %}

{% block content %}

    <!--<section class="bg-primary">-->

    <div class="overflow-hidden kbg-test">
         <img src="{{ url_for('static', filename='assets/images/bgparking.jpg') }} " class="img-fluid">
{#        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">#}
      <div class="kcaption">
        <h1 class="text-white display-4 font-weight-normal">Bestrid en böter</h1>
  <form action="" method="post" >
    {{ form.hidden_tag() }}
    <p class="text-white">
      {{ form.violation.label }}<br />
      {{ form.violation(size=32) }}
      {% for error in form.violation.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p class="text-white" >
      {{ form.place.label }}<br />
      {% for subfield in form.place %}
     <tr>
         <td>{{ subfield }}</td>
          <td>{{ subfield.label }}</td></br>
      </tr>
      {% endfor %}
      {% for error in form.place.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p class="text-white">{{ form.submit }}</p>
  </form>

      </div>
        </div>
    </section>
{% endblock %}
