{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
    {{ form.hidden_tag() }}
    {% for question in form if question.name != "csrf_token" %}
        {% if not question == form.submit %}
            <p>
                {{ question.label }}<br/>
                {{ question(size = 32) }}
                {% for error in question.errors %}
                 <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        {% endif %}
    {% endfor %}
    <p>{{ form.submit }}</p>
    </form>
{% endblock %}