{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
    {{ form.hidden_tag() }}
    {% for question in form %}
        {% if not question == form.submit %}
            <p>
                {{ question.label }}<br/>
                {{ question(size = 32) }}
            </p>
            {% for subfield in question %}
                <tr>
                <td>{ subfield }</td>
                <td>{ subfield.label} </td>
                </tr>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <p>
      {{ form.violation.label }}<br />
      {{ form.violation(size=32) }}
      {% for error in form.violation.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    <p>{{ form.submit }}</p>
    </form>
{% endblock %}