{% extends "base.html" %}

{%block content%}


     <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Kontra</h1>
        <p class="lead font-weight-normal">Vi hjälper dig att överklaga dina parkeringsböter</p>
        <a class="btn btn-outline-secondary" href="{{ url_for('bestrid')}}">Bestrid böter</a>
      </div>
      <div class="product-device shadow-sm d-none d-md-block"></div>
      <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
    </div>

      <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Till er tjänst</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-shipping-fast text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Snabb leverans</h3>
              <p class="text-muted mb-0">Utan krångel</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-stopwatch text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Bestrid böter på under 3 minuter</h3>
              <p class="text-muted mb-0">Betala endast vid vunnet mål.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-trophy text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Vi hjälper dig att vinna ditt mål</h3>
              <p class="text-muted mb-0">Vår historik visar att vår tjänst är bättre än att du gör det själv.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Vi har det ni behöver!</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Bestrid dina parkeringsböter snabbt och enkelt med vår helhetstjänst.</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Bestrid nu!</a>
          </div>
        </div>
      </div>
    </section>





    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Om oss</h2>
          <p class="lead">Kontra är ett Uppsalabaserat företag med rötter ifrån en Östgötska slätten. Kontra finns för att ge den gemene mannen verktyg att använda sina juridiska rättigheter.</p>
        </div>

          <div class =row>
               <div class="team-item col-md-3 vcenter" >
                <div class="item-image">
                    <img src="{{ url_for('static', filename='assets/images/MSrund.png') }}"  alt="MS" title="">
                </div>
               </div>
              <div class="team-item col-md-3">
                <div class="item-image ">
                    <img src="{{ url_for('static', filename='assets/images/OLIVERrund.png') }}"  alt="oliver" title="">
                </div>
               </div>
              <div class="team-item col-md-3">
                <div class="item-image vcenter">
                    <img src="{{ url_for('static', filename='assets/images/FREDDYrund.png') }}" alt="freddy" >
                </div>

                   </div>
              <div class="team-item col-md-3">
                <div class="item-image vcenter">
                    <img src="{{ url_for('static', filename='assets/images/ERIKrund.png') }}" alt="erik" title="" >
                </div>
              </div>
          </div>

      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
<div class="my-3 py-3">
       <h2 class="display-5">Kontakta oss</h2>
    <!--Section description-->
    <p class="lead">Har du frågor? Tveka inte på att höra av dig. Vårt team ser till att du får svar inom några timmar.</p>
</div>
    <div class="row">

        <!--Grid column-->
        <div class="col-md-12 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Ditt namn</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Din email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Ämne</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                            <label for="message">Ditt meddelande</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-center mb-5">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Skicka </a>
            </div>
            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->


    </div>
      <!--  <div class="my-3 p-3">
          <h2 class="display-5">Another headline</h2>
          <p class="lead">And an even wittier subheading.</p>
        </div>
        <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>-->
    </div>
    </div>

    <!--Section: Contact v.2-->
<!--<section class="section col-md-12 text-center">-->

    <!--Section heading-->


<!--</section>-->
<!--Section: Contact v.2-->

{#
    <section class="cid-qySupntCRq bg-dark" id="social-buttons2-j" data-rv-view="901" >

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(79, 73, 67);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="col-md-8 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2 text-center">
                    Follow us!
                </h2>
                <div class="social-list pl-0 mb-0">
                    <a href="https://twitter.com/mobirise" target="_blank">
                        <span class="fas fa-4x fa-twitter text-primary mb-3 sr-icons"></span>
                    </a>
                    <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                        <span class="fa fa-4x fa-trophy text-primary mb-3 sr-icons"></span>
                    </a>
                    <a href="https://instagram.com/mobirise" target="_blank">
                        <span class="fa fa-4x fa-trophy text-primary mb-3 sr-icons"></span>
                    </a>
                    <a href="https://www.youtube.com/c/mobirise" target="_blank">

                    </a>
                    <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">

                    </a>
                    <a href="https://www.behance.net/Mobirise" target="_blank">

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
    #}


{% endblock %}
