<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Old stuff that could be nice to have</title>

</head>
<body>

<section class="text-center features16 bg-dark text-white cid-qyS1k5hHnP" id="features16-g" data-rv-view="889">

    <div class="container align-center">
        <h1 class="display-4 font-weight-normal">Vårt team</h1>


        <div class="row media-row">

        <div class="team-item col-lg-3 col-md-6 vcenter" >
                <div class="item-image vcenter">
                    <img src="{{ url_for('static', filename='assets/images/MSrund.png') }}"  alt="MS" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5 vcenter">
                           Anton Modin Svedberg
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>CEO</p>
                    </div>

                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image vcenter">
                    <img src="{{ url_for('static', filename='assets/images/OLIVERrund.png') }}"  alt="oliver" title="">
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Oliver Cedenheim
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>COO</p>
                    </div>

                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image vcenter">
                    <img src="{{ url_for('static', filename='assets/images/ERIKrund.png') }}" alt="erik" title="" >
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                           Erik Wiström
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>CTO</p>
                    </div>

                </div>
            </div><div class="team-item col-lg-3 col-md-6">
                <div class="item-image vcenter">
                    <img src="{{ url_for('static', filename='assets/images/FREDDYrund.png') }}" alt="freddy" >
                </div>
                <div class="item-caption py-3">
                    <div class="item-name px-2">
                        <p class="mbr-fonts-style display-5">
                            Anton Fredriksson
                        </p>
                    </div>
                    <div class="item-role px-2">
                        <p>CFO</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </section>

</body>
</html>